*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:#000000;
    font-family: 'Poppins', sans-serif;
}
/* LINKS REDES SOCIAIS */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}
header ul{
    display: flex;
}
header ul li{
    padding:10px;
}
header ul li a:hover{
    color:cornflowerblue;
    text-decoration:underline;
}
header ul li img{
    max-width:50px;
    max-height: 50px;
}

/* IMAGEM DE FUNDO */
body{
    
    background-image: url(./imagens/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}
/* CONTEÚDO TODO */
.container{
    text-align: center;
}
/* NOME PRINCIPAL */
.container .nome h1{
    font-size:60px;
    color:#191970;
    text-shadow: 2px 2px 2px white;
}
/* SUBTITULO DO NOME */
.container .nome h5{
    font-size:25px;
    font-style:italic;
    color:#000080;
}
/* MINHA FOTO */
#minha_foto img{
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: double;
    border-color: #191970;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 1px;
}

/* ÍCONE SETA */
#arrow{
    font-size: 35px;
    cursor:pointer;
    animation: blink 2s steps(5,start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
#animation{
    transition: 300ms;
}

.rotate{
    transform:rotate(180deg);
    transition:300ms;
}
.active{
    display:block !important;
}

/* TEXTO DE APRESENTAÇÃO */
#about p{
    max-width: 1000px;
    margin:0 auto;
    margin-bottom: 30px;
}

/* INFORMAÇÕES PESSOAIS */

.cursos img{
    max-width:150px;
    max-height: 150px;
}
.cursos ul li{
    list-style: circle;
    text-align: left;
}
.cursos p{
    font-weight: bold;
}

.passatempo img{
    max-width:150px;
    max-height: 150px;
}

.passatempo ul li{
    list-style: circle;
    text-align: left;
}
.passatempo p{
    font-weight: bold;
}

#infos{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    margin-left: 60px;
    
}

/* DEIXE SEU CONTATO */
.form{
    width:40%;
    margin:0 auto;
}

.form p{
    font-weight: bold;
}

.form input{
    width:50%;
    padding: 5px 10px;
    border:none;
    border-radius: 5px 0px 0px 5px;
    
}
.form button{
    width:15%;
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #464646;
    font-weight: 600;
    border: none;
    cursor:pointer;
    transition: 300ms;
    border-radius: 0px 5px 5px 0px;
    margin-left:-4px;
    margin-top:10px;
}

.form button:hover{
    background-color: #464646;
    color:darkblue;
}

@media only screen and (max-width: 480px) {
    #about p {
        max-width:80%;
    }
}